.submit-button {
  display: block;
  width: 100%;
  margin-top:10%;
}

.form-label{
  margin-top: 1%;
  color: white;
  font-weight: bold;
}

.select {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 1em 0 0;
  margin: 0;
  width: auto;
  height: 100px; 
  overflow-y: scroll; 
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  margin-top: 5%;
}

.form-checkbox {
  background-color: white;
}

/* form component css */

.align-inititial{
  align-items: initial;
}

/* /////////////////////////////// */

