/* Form.css */

.form-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    /* text-align: center; */
  }
  
  .form-input,
  .form-textarea {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #81689D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #FFD0EC;
  }

  .form-container {
    max-width: 500px;
    margin-top: 10%;
    background-color: #474F7A;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .submit-button {
    width: 100%;
    padding: 10px;
  }

  .container { 
    border:2px solid #ccc; 
    width:500px; 
    height: 100px; 
    overflow-y: scroll; 
}
