/* Form.css */

.form-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    /* text-align: center; */
  }
  
  .form-input,
  .form-textarea {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFD0EC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #81689D;
  }