@import '../../globals.scss';

.popup, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background-color: $main-white;
}
.popup-content {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: $main-white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-less-dark;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
  
.popup-button {
    margin-top: 2vh;
    background-color: $color-dark;   
    &:hover{
        background-color: $color-light;
    } 
}