.about_main_container{
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.about_main_header{
    font-size: 2.5em;
    margin-bottom: 0px;
}

.about_subcontainer1{
    width:80%;
}

img.about_main_img{
    height:40vh;
    width: fit-content;
    object-fit: contain;
    margin-bottom:5px;
    border-radius: 50%;
    float:right;
    shape-outside: circle(55%);
    margin:10px;
    
}

pre.about_description{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 1.3em;
}

h2.about_main_subheader{
    margin-bottom: 20px;
    margin-top: 10px;
}