/* Main container */
.homepage-container {
    margin-top: 7vh; /* Adjust according to navbar height */
    padding: 20px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #81689D;
    
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 3.2em; /* Adjusted size */
    line-height: 1.1;
  }
  
  .header p {
    font-size: 1.2em;
  }
  
  /* Placeholder text */
  .placeholder-text {
    text-align: center;
    margin-bottom: 30px; /* Added margin for spacing */
  }
  
  /* Queue form */
  .queue-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .queue-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid transparent; /* Removed border color */
    background-color: #1a1a1a; /* Added background color */
    color: rgba(255, 255, 255, 0.87); /* Added text color */
  }

  .queue-form button {
    padding: 10px 20px;
    background-color: #474F7A;
    color: #fff;
    border: none;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .queue-form button:hover {
    transform: scale(1.05);
  }