/* Main container */
.homepage-container {
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  h1.home_main_header{
    font-size: 2.5em;
    margin-bottom: 0px;
  }


  .description_container{
    width:80%;
  }

  pre.description{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 1.3em;
  }
  
  /* Queue form */
  .queue-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .queue-form button {
    padding: 10px 20px;
    background-color: #474F7A;
    color: #fff;
    border: none;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .queue-form button:hover {
    transform: scale(1.05);
    background-color: #1F2544;
  }