@import '../../globals.scss';

.nav_background{
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Add a small shadow */
    top: 0;
    width:100%;
    height:7vh;
    margin:0px;
    position: fixed;
    background-color: $color-less-dark;
}

.logo:hover{ 
    transform: scale(1.1);
}

  
.nav_hidden {
    top: -50px; /* Move the navbar above the viewport */
    transition: top .5s;
  }
.nav_container{
    height:100%;
    width:100%;
    display:flex;
}

ul.navbar_list{
    align-items: center;
    list-style: none;
    display: flex;
    margin: 0;
    gap:25%;
    padding-right:3vw;
    width:100%;
}

.navbar_image {
    padding:5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
    height: auto;
    margin-left: auto;
}


li.navbar_list_items{
    font-size: 1.2em; 
    height: fit-content;
    width: fit-content;
    padding:5px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}
li.navbar_list_items:hover {
    background-color: $color-dark;
    transform: scale(1.05);
}
li.navbar_list_items:last-of-type{
    margin-left:auto;
}

.p-menu1{
   height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: $main-white;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: $color-dark;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link1 {
  color: $main-white;
  width: 100%;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}