@import '../../globals.scss';

.nav_background{
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Add a small shadow */
    top: 0;
    width:100%;
    height:7vh;
    margin:0px;
    position: fixed;
    background-color: $color-less-dark;
}

.logo:hover{ 
    transform: scale(1.1);
}

  
.nav_hidden {
    top: -50px; /* Move the navbar above the viewport */
    transition: top .5s;
  }
.nav_container{
    height:100%;
    width:100%;
    display:flex;
}

ul.navbar_list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    gap:50px;
    padding-right:3vw;
    padding-top: 5px;
    height:100%;
    width:100%;
}

.navbar_image {
    padding:5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
    height: auto;
    margin-left: auto;
}


li.navbar_list_items{
    font-size: 1.2em; 
    height: fit-content;
    width: fit-content;
    padding:5px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}
li.navbar_list_items:hover {
    background-color: $color-dark;
    transform: scale(1.05);
}
li.navbar_list_items:last-of-type{
    margin-left:auto;
}

.nav_link{
    color:white!important;
    font-size: 1.1em;
}

