@import '../../globals.scss';

.footer_background{
    position: fixed;
    bottom: 0;
    width:100%;
    //height: 3vh;
    background-color: $color-dark; 
    color: $main-white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:5px;
}

.footer_text {
    margin-left:10%;
    color: $main-white;
}

.footer_item {
    justify-content: flex-end;
    margin-left: auto;
    margin-right:10%;
}

#footer {
    height: 3vh;
    transition-duration: 0.300s;
}

#footer:hover {
    height: 100px;
}