.queue-container {
    max-width: 400px;
    margin: 10% auto;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #474F7A;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1F2544;
  }
  
  .queue-list {
    list-style-type: none;
    padding: 0;
  }
  
  .queue-item {
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 3px;
    color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    padding: 10px;
    font-size: 1.2em;
  }

  
  .queue-item:last-child {
    margin-bottom: 0;
  }