@import '../../globals.scss';

.card-container{
  display: flex;
  height:fit-content;
  flex-direction: row;
  align-items: center;
}

.align-center{
  align-items: center;
}

.card-title {
  margin-top: 0;
  text-align: center;
}

.card-content {
  margin-bottom: 0;
  white-space: pre-wrap;
  text-align: justify;
  font-size: 1.3em;
}

.card-position1{
  font-weight: bold;
  color: white;
  background-color: $color-less-dark;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}
.card-position2{
  font-weight: bold;
  color: white;
  background-color: $color-less-dark;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.queue-button-container {
  display: flex;
  flex-direction: column;
}

.queue-button {
  margin-top: 2vh;
}