@import '../../globals.scss';

.card-container{
  display: flex;
  height:fit-content;
  flex-direction: row;
  align-items: center;
}

.card {
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin-top: 0;
  text-align: center;
}

.card-content {
  margin-bottom: 0;
  white-space: pre-wrap;
  text-align: justify;
  font-size: 1.3em;
}

.card-time, .card-position{
  font-weight: bold;
  color: white;
  background-color: $color-less-dark;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.queue-button-container {
  display: flex;
  flex-direction: column;
}

.queue-button {
  margin-top: 2vh;
}