.queue-page-container {
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

h1.main-header{
  font-size: 2.5em;
  margin-bottom:0;
}

.input-container {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #474F7A;
  color: #fff;
  border: none;
  font-size: 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #1F2544;
  transform: scale(1.05);
}

/* CARD CSS */
.card-container{
  display: flex;
  height:fit-content;
  flex-direction: row;
  align-items: center;

}

.card {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin-top: 0;
  text-align: center;
}

.card-content {
  margin-bottom: 0;
  white-space: pre-wrap;
  text-align: justify;
  font-size: 1.3em;
}

.card-time, .card-position{
  font-weight: bold;
  color: #ffffff;
  background-color: #474F7A;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.queue-button-container {
  justify-content: space-between;
  width: 50%;
  display: flex;
  height:fit-content;
  flex-direction: row;
  align-items: center;
}