// GLOBAL VARS //

// color pallette 
// https://colorhunt.co/palette/1f2544474f7a81689dffd0ec
$color-dark: #1F2544;
$color-less-dark: #474F7A;
$color-base: #81689D;
$color-light: #FFD0EC;
$western-purple: #4F2683;
$main-white: white;

