@import './globals.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: $color-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* RESET */


/* Global Styles */

body {
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  margin: 0;
  padding-bottom: 7vh; /* Add some padding to ensure scrolling space at the bottom */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

a {
  font-weight: 500;
  color: $color-light;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

hr{
  background-color: $color-dark;
  width: 80%;
}

p,h1,h2{
  color:white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

button {
  padding: 10px 20px;
  background-color: $color-less-dark;
  color: white;
  border: none;
  font-size: 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: $color-dark;
  transform: scale(1.05);
}

/* Global Classes */

.main-container{
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.main-header{
  font-size: 2.5em;
  margin-bottom: 0px;
}

.text-container{
  width:80%;
  margin-bottom: 7vh;
}

.text-format{
  white-space: pre-wrap;
  text-align: justify;
  font-size: 1.3em;
}

//card

.card {
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card select,
.card input[type="text"],
.card textarea {
  border: none;
  border-bottom: 1px solid white; /* White underline */
  background-color: transparent; /* Transparent background */
  padding: 5px 0; /* Adjust padding as needed */
  width: 100%; /* Make input fields fill the width of the card */
  margin-bottom: 10px; /* Add some space between input fields */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
}