:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #81689D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  
color pallette 
https://colorhunt.co/palette/1f2544474f7a81689dffd0ec

#1F2544
#474F7A
#81689D
#FFD0EC
*/

/* Global Styles */

body {
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height: 100vh;
  max-height: calc(100vh - 100px); /* Set maximum height for the page container */
  margin: 0;
  padding-bottom: 20px; /* Add some padding to ensure scrolling space at the bottom */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

a {
  font-weight: 500;
  color: #FFD0EC;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}